<h1>Welcome to our Taco Tracker</h1>
<h2>Made by Ruby Dooby Doo</h2>


<a href="/about_tacos">About This App with an a tag</a>
<%= link_to("About This App with link_to helper", about_tacos_path) %>

<!--
def link_to(text, path)
    return "<a href="#{path}">#{text}</a>"
end
-->