<div class="header">
    <%= link_to "Taco Index Page", tacos_path %>
    <%= link_to "Restaurant Index Page", restaurants_path %>
    <%= link_to "Create a taco", new_taco_path %>
    <%= link_to "Create a restaurant", new_restaurant_path %>
</div>